@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    background-color:black;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
}



.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    text-align: center;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color:whitesmoke;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2{
    color:whitesmoke;
    font-size: 4rem;
    font-weight: 400;

}

.image{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

p{
    font-size: 2rem;
    color:whitesmoke;
    line-height: 4rem;
    text-align: left;
    text-indent:5%;
}

.abtme{
    margin-bottom: 3rem;
}


li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 40px;
    color:#fff;
    margin-bottom: 2rem;

}

i:hover{
    color: grey;
    transition: .5s;
}

a {
    color: white;
}

.contact{
    color: whitesmoke;
    font-size: 2rem;
}